<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
</head>

<body>
<section layout:fragment="content">
    <div class="container mt-4">

        <h2 class="mb-4">Purchase History</h2>

        <ul class="list-group mb-5">
            <li th:each="racunDetail : ${purchaseHistory.racunDetailsList}" class="list-group-item">
                <h5>Invoice ID: <span th:text="${racunDetail.racun.idRacun}"></span></h5>
                <p>Time of Purchase: <span th:text="${racunDetail.racun.vrijemeKupovine}"></span></p>
                <p>Payment Method: <span th:text="${racunDetail.racun.nacinKupovine}"></span></p>
                <p>Total: <span th:text="${racunDetail.racun.ukupnaCijena} + ' €'"></span></p>

                <h6>Items:</h6>
                <ul class="list-group mt-2">
                    <li th:each="stavkaDetail : ${racunDetail.stavkeDetails}" class="list-group-item">
                        <p>Item ID: <span th:text="${stavkaDetail.idStavka}"></span></p>
                        <p>Product Name: <span th:text="${stavkaDetail.naziv}"></span></p>
                        <p>Price: <span th:text="${stavkaDetail.cijena * stavkaDetail.kolicina} + ' €'"></span></p>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</section>
</body>

</html>
